//
//  Secrets.xcconfig
//  Tourist App
//
//  Created by Sphoorti Patil on 16/10/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

GOOGLE_PLACES_API_KEY_VALUE = d1b1896469msh85c2ec2bc978d3ep1ada6bjsn86a5d2953bf6
GOOGLE_PLACES_API_HOST_VALUE = google-map-places.p.rapidapi.com
MAPS_DATA_API_KEY_VALUE = d1b1896469msh85c2ec2bc978d3ep1ada6bjsn86a5d2953bf6
MAPS_DATA_API_HOST_VALUE = maps-data.p.rapidapi.com
PEXEl_API_KEY_VALUE = JAE9pM4hfeoI3B6cXTfVFtpSkvFq3tDNdA9g0EURAvEpbc1QUG6XHR7R
